body
{
    background-color: grey;
}
.oswald_a {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.calculator_body
{
    background-color: black;
    height: 556px;
    margin-left: 570px;
    margin-right: 570px;
    margin-top: 50px;
    border-radius: 30px;
}
.header
{
    color: aliceblue;
}
.calculator_screen
{
    background-color: black;
    height: 130px;
    border: 10px solid black;
    border-radius: 30px;
    display: block;
}
.calculator_controls
{
    margin-left: 6px;
}
.key
{
    border-radius: 38px;
    width: 76px;
    height: 76px;
    background-color: rgba(55, 59, 59, 0.529);
    color: white;
}
.key:hover
{
    background-color: rgb(124, 132, 132);
    border-radius: 38px;
    width: 76px;
    height: 76px;
    color: white;
}
.a
{
    width: 152px;
}
.a:hover
{
    width: 152px;
}
.keya
{
    border-radius: 38px;
    width: 76px;
    height: 76px;
    background-color: rgb(232, 173, 10);
    color: white;
}
.keya:hover
{
    background-color: rgb(181, 151, 69);
    border-radius: 38px;
    width: 76px;
    height: 76px;
    color: white;
}
.keyb
{
    border-radius: 38px;
    width: 76px;
    height: 76px;
    background-color: rgb(123, 118, 105);
    color: white;
}
.keyb:hover
{
    background-color: rgb(190, 185, 169);
    border-radius: 38px;
    width: 76px;
    height: 76px;
    color: white;
}